/* screen - gameday */

.gameday {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 1864px;
  overflow: hidden;
  width: 1920px;
}

.gameday .overlap-group1 {
  height: 1942px;
  margin-top: -66px;
  position: relative;
  width: 1920px;
}

.gameday .angel15955-1-1 {
  height: 1776px;
  left: 182px;
  position: absolute;
  top: 152px;
  width: 1592px;
}

.gameday .x61fa9285eec4c40004bacd66-1 {
  cursor: pointer;
  height: 152px;
  left: 1208px;
  position: absolute;
  top: 808px;
  width: 347px;
}

.gameday .overlap-group {
  height: 153px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 1920px;
}

.gameday .rectangle-1 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(116.03, 0, 0) 12.4%, rgb(175.53, 0, 0) 100%);
  box-shadow: 0px 4px 4px #00000040;
  height: 126px;
  left: 0;
  width: 1920px;
}

.gameday .rectangle-2 {
  cursor: pointer;
  height: 132px;
  left: 908px;
  width: 104px;
}

.gameday .page-bar {
  height: 66px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 1920px;
}

.gameday .angels-todays-game-g {
  height: 840px;
  left: 1170px;
  object-fit: cover;
  position: absolute;
  top: 1068px;
  width: 478px;
}

.gameday .group-2 {
  height: 1064px;
}

.gameday .title {
  left: 1183px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 962px;
  width: 468px;
}

.gameday .previous-game {
  left: 310px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 962px;
  width: 821px;
}

.gameday .current-game {
  left: 295px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: 821px;
}

.gameday .final-angels-1-red-sox-2 {
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1672px;
  width: 852px;
}

.gameday .next-games-yankee {
  color: var(--black);
  font-family: var(--font-family-anaheim);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 1170px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 282px;
  width: 515px;
}

.gameday .group-14 {
  display: flex;
  gap: 1448px;
  height: 1692px;
}

.gameday .x960x0-1-1 {
  height: 1680px;
  object-fit: cover;
  width: 238px;
}

.gameday .usatsi_18291519_168388303_lowres-1-1 {
  height: 1680px;
  object-fit: cover;
  width: 234px;
}

.gameday .image-6 {
  height: 339px;
  left: 830px;
  position: absolute;
  top: 363px;
  width: 324px;
}

.gameday .image-4 {
  cursor: pointer;
  height: 477px;
  left: 279px;
  position: absolute;
  top: 1068px;
  width: 852px;
}

.gameday .image-5 {
  cursor: pointer;
  height: 110px;
  left: 477px;
  object-fit: cover;
  position: absolute;
  top: 816px;
  width: 456px;
}

.gameday .watch-on-mlbtv {
  color: var(--black);
  font-family: var(--font-family-anaheim);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 623px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 789px;
  width: 164px;
}

.gameday .los-angeles-angels-logo-transparent-1 {
  height: 335px;
  left: 341px;
  object-fit: cover;
  position: absolute;
  top: 347px;
  width: 197px;
}

.gameday .text-1 {
  color: var(--black);
  font-family: var(--font-family-anaheim);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  left: 586px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 319px;
  width: 196px;
}

.gameday .first-pitch-810-am-pst {
  color: var(--black);
  font-family: var(--font-family-anaheim);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 451px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 715px;
  width: 513px;
}

.gameday .buy-tickets {
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-family-anaheim);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 1255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 913px;
  width: 252px;
}

.gameday .group {
  left: 0;
  position: absolute;
  top: 250px;
  width: 1920px;
}

.gameday .pngegg {
  height: 153px;
  position: absolute;
  top: 0;
  width: 694px;
}

.gameday .rectangle {
  position: absolute;
  top: 0;
}
